{% extends 'admin/adminindex.html' %}

{% block body %}



<body>
<form id="form1" name="form1" method="post" action="/insert_schedule">
  <table  class="table table-bordered table-dark">
    <tr>
      <td><label>Date</label></td>
      <td><label>
        <input type="date" name="textfield2" min={{ m }}/>
      </label></td>
    </tr>
    <tr>
      <td><label>From</label></td>
      <td><label>
        <input type="time" name="textfield4"  />
      </label></td>
    </tr>
    <tr>
      <td><label>To</label></td>
      <td><label>
        <input type="time" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Add" class="btn btn-info"/>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}