{% extends 'admin/adminindex.html' %}

{% block body %}



<body>
<form id="form1" name="form1" method="post" action="/feedback_search#about">
  <table   class="table table-bordered table-dark">
    <tr>
        <td>
            <select name="select" class="form-control">
                {% for j in val2 %}
                <option value="{{ j.id }}" {% if j.id == dr %} selected {% endif %}>{{ j.firstname }} {{ j.lastname }}</option>{% endfor %}
            </select>
        </td>
      <td colspan="3"><label>
        <input type="submit" name="Submit" value="search" class="btn btn-warning" required/>
      </label></td><td></td>
    </tr>
    <tr>
        <th><label>USER</label></th>
        <th><label>DOCTOR</label></th>
      <th><label>FEEDBACK</label></th>
      <th><label>RATING</label></th>

      <th><label>DATE</label></th>

    </tr>
      {% for i in val %}
    <tr>
    <td>{{ i.USER.firstname }} {{ i.USER.lastname }}</td>
        <td>{{ i.DOCTOR.firstname }} {{ i.DOCTOR.lastname }}</td>
      <td>{{ i.feedback }}</td>
      <td>{{ i.rating }}</td>

      <td>{{ i.date }}</td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
