{% extends 'admin/adminindex.html' %}

{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <table   class="table table-bordered table-dark">
    <tr>
      <td><label>Date</label></td>
      <td><label>
        <input type="text" name="textfield" class="form-control"/>
      </label></td>
      <td><label>
        <input type="submit" name="Submit" value="Search" class="btn btn-warning"/>
      </label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><label>User</label></td>
      <td><label>Time</label></td>
      <td><label>Date</label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">Prescription</a></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
