{% extends 'admin/adminindex.html' %}

{% block body %}



<body>
<form id="form1" name="form1" method="post" action="">
  <table  class="table table-bordered table-dark">
    <tr>
      <td><label>Date</label></td>
      <td colspan="2"><label>
        <input type="date" name="textfield" class="form-control" />
      </label></td>
      <td><label>
        <input type="submit" name="Submit" value="Search" required class="btn btn-primary"/>
      </label></td>
    </tr>
    <tr><td><label>Date</label></td>
      <td><label>From Time</label></td>
      <td><label>To time</label></td>

        <td></td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.date }}&nbsp;</td>
      <td>&nbsp;{{ i.fromtime }}</td>
      <td>&nbsp;{{ i.totime }}</td>
    <td><a href="/delete_sche/{{ i.id }}" class="btn btn-danger">Delete</a> </td>
    </tr>
      {% endfor %}
      <tr>

      <td colspan="4" align="center"><a href="/add_shedule" class="btn btn-info">Add Schedule</a> </td>

    </tr>

  </table>
</form>
</body>
{% endblock %}
