{% extends 'doctor/doctorindex.html' %}

{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table   class="table table-dark table-striped">
    <tr>
      <td><label>Date</label></td>
      <td><label>
        <input type="text" name="textfield" class="form-control"/>
      </label></td>
      <td><label>Doctor</label></td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
      <td><label>
        <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td height="23"><label>User</label></td>
      <td><label>Time schedule</label></td>
      <td><label>Schedule</label></td>
    </tr>
    <tr>
      <td height="23">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
