<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/view_she">View schedule</a></td>
    </tr>
    <tr>
      <td><a href="/view_patient">View patient</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="/upload_priscrip">upload prescription</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/view_feedback_doc">View feedback</a></td>
    </tr>
    <tr>
      <td>
        <td><label><a href="/">logout</a></label></td>
      </label></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
