{% extends 'doctor/doctorindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/viewshe_search#about">
  <table   class="table table-bordered table-dark">
    <tr>
      <td><label>Date</label></td>
      <td><label>
        <input type="date" name="textfield" value="{{ d }}" class="form-control" required/>
      </label></td>
      <td><input type="submit" name="Submit" value="Search" class="btn btn-warning" required/></td>
    </tr>
    <tr>
      <th><label>FROM TIME</label></th>
      <th><label>TO TIME</label></th>
      <th><label>DATE</label></th>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ i.fromtime }}</td>
      <td>{{ i.totime }}</td>
      <td>&nbsp;{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}

